.hero {
    background: url('/home/dan/development/PROJECTS/TrailStrider/client/src/assets/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


